.post {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3px;
  color: rgb(252, 216, 17);
  flex-direction: column;
}
.post > form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 200px;
  border: solid;
  border-color: rgb(252, 216, 17);
  border-radius: 20px;
  margin-top: -3px;
}
.post > form > input {
  width: 200px;
  height: 20px;
  margin: 10px 0;
  color: rgb(252, 216, 17);
}
button {
  margin-top: 10px;
  background-color: rgb(252, 216, 17);
  border: none;
  border-radius: 20px;
  box-shadow: inset;
  color: white;
  font-weight: 700;
  padding: 10px;
}
.singlePost {
  margin: 70px 0;
}
.myProfile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.signOut {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signOut > button {
  margin: 100px 0;
  cursor: pointer;
}
.imgPreview > img {
  object-fit: contain;
  height: 450px;
  width: 365px;
  border-radius: 20px;
  padding: 20px;
}
#inputFile {
  display: none;
}
.labelInput {
  font-weight: 700;
  cursor: pointer;
}
#profilePic {
  display: none;
}
label {
  color: rgb(252, 216, 17);
  font-weight: 700;
  cursor: pointer;
  height: 40px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profilePicturePreview > img {
  height: 200px;
  width: 200px;
  border-radius: 200px;
  object-fit: cover;
}
.profilePicturePreview {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.avatar {
  margin-right: 16px;
}
.profile {

  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  font-style: oblique;
  color: white;
  display: flex;
  align-items: center;
}

.completePost {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(252, 216, 17);
  border-radius: 16px;
}
.profileImg > label > img {
  width: 200px;
  height: 200px;
  border-radius: 200px;
  object-fit: cover;
}
.profileImg {
  width: 200px;
  height: 200px;
  border-radius: 200px;
  object-fit: cover;
}
.profileImg1 > img {
  width: 200px;
  height: 200px;
  border-radius: 200px;
  object-fit: cover;
}
.profileImg1 {
  width: 200px;
  height: 200px;
  border-radius: 200px;
  object-fit: cover;
}
.profileImg > label {
  width: 200px;
  height: 200px;
  border-radius: 200px;
  object-fit: cover;
}
.info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 70%;
  color: white;
}

li {
  list-style-type: none;
  color: white;
  font-weight: 700;
}
li > i {
  color: wheat;
}
li > i > a {
  color: wheat;
}
hr {
  width: 70%;
  color: rgb(252, 216, 17);
  border-color: rgb(252, 216, 17);
  background: rgb(252, 216, 17);
}
.img {
  object-fit: cover;
}
