body {
  margin: 0;
  background: rgb(119, 7, 248);
}
html::-webkit-scrollbar {
  width: 0.5em;
}
html::-webkit-scrollbar-track {
  background-color: rgba(120, 7, 248, 0.582);
}
html::-webkit-scrollbar-thumb {
  background-color: rgb(252, 216, 17);
  border-radius: 10vw;
}
html::-webkit-scrollbar-thumb:hover {
  background-color: rgb(252, 216, 17);
}
